# Editor
## Main
jupyterlab

## Extensions
jupyterlab_widgets
lckr-jupyterlab-variableinspector
ipywidgets

# Libraries
## Utils
numpy
pandas
tqdm

## Graph
matplotlib
japanize-matplotlib
seaborn

## Text
regex

